@import '../variables';

.header{
    background-color: $site-bg;
    &__main{
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        h1{
            color:$white;
        }
        .headerLanguage{
            width: 100px;
            display: flex;
            justify-content: space-between;
            button{
                width: 40px;
                height: 40px;
                text-transform: uppercase;
                color: white;
                background: black;
                border: 2px solid white;
                border-radius: 4px;
                cursor: pointer;
                transition: ease-in-out .3s;
                &:hover{
                    border: 2px solid $site-color;
                    color: $site-color;
                }
            }
        }
    }
}
